<section class="about-us__hanoicentre container">
    <div class="bg-mode">
    </div>
    <div class="hanoi-centre">
        <h1 class="hanoi-centre__title">Hanoi Centre</h1>
        <p class="hanoi-centre__description">
            Nested at 175 Nguyen Thai Hoc, Ba Dinh, Hanoi, near many famous landmarks,
            diplomatic centers, and bustling business areas.
        </p>
        <ul class="hanoi-centre__district-list">
            <li class="hanoi-centre__district-item">
                <div class="hanoi-centre__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>BA DINH DISTRICT</span>
                </div>
                <span class="hanoi-centre__district-detail">CBD Fringe with diplomatic area, new grade A commercial
                    and office buildings.</span>
            </li>
            <li class="hanoi-centre__district-item">
                <div class="hanoi-centre__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>HOAN KIEM DISTRICT</span>
                </div>
                <span class="hanoi-centre__district-detail">CBD The heart of Hanoi.</span>
            </li>
            <li class="hanoi-centre__district-item">
                <div class="hanoi-centre__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>DONG DA DISTRICT</span>
                </div>
                <span class="hanoi-centre__district-detail">The most crowded district of Hanoi with the highest
                    population density.</span>
            </li>
        </ul>
    </div>
</section>