{{ define "footer"}}
    <footer class="footer" id="footer">
        <div class="footer__top container">
            <div class="footer__left">
                <a class="logo-top" href="/">
                    <img src="{{site}}/static/img/menu/logo-hanoi-centre.png" alt="hanoi centre">
                </a>
                <div class="logo-bottom">
                    <a class="logo-bottom__item facebook" href="https://www.facebook.com/hanoicentre.vn" target="_blank" title="link facebook">
                        <img src="{{site}}/static/img/footer/facebook-logo.svg" alt="facebook">
                    </a>
                    <a class="logo-bottom__item instagram" href="https://www.instagram.com/hanoicentre/" target="_blank" title="link instagram">
                        <img src="{{site}}/static/img/footer/instagram-logo.svg" alt="instagram">
                    </a>
                    <a class="logo-bottom__item tiktok" href="https://www.tiktok.com/@hanoi.centre" target="_blank" title="link tiktok">
                        <img src="{{site}}/static/img/footer/tiktok-logo.svg" alt="tiktok">
                    </a>
                    <a class="logo-bottom__item youtube" href="https://www.youtube.com/@hanoicentrevn" target="_blank" title="link youtube">
                        <img src="{{site}}/static/img/footer/youtube-logo.svg" alt="youtube">
                    </a>
                    <a class="logo-bottom__item threads" href="https://www.threads.net/@hanoicentre" target="_blank" title="link threads">
                        <img src="{{site}}/static/img/footer/threads-logo.svg" alt="threads">
                    </a>
                    <a class="logo-bottom__item linkedin" href="https://www.linkedin.com/company/hanoi-centre-shopping-mall" target="_blank" title="link linkedin">
                        <img src="{{site}}/static/img/footer/linkedin-logo.svg" alt="linkedin">
                    </a>
                </div>
           </div> 
           <div class="footer__right">
                <div class="contact-us__disc">
                    <h2 data-key="contact_us">Contact us</h2>
                    <a class="contact-us__item phone" href="tel: 84 923 000 100">
                        <img src="{{site}}/static/img/footer/phone-logo.svg" alt="phone">
                        <span>0923 000 100</span>
                    </a>
                    <a class="contact-us__item mail" href="mailto: leasing.hanoicentre@keppel.com">
                        <img src="{{site}}/static/img/footer/mail-logo.svg" alt="mail">
                        <span>leasing.hanoicentre@keppel.com</span>
                    </a>
                    <div class="contact-us__item address">
                        <img src="{{site}}/static/img/footer/address-logo.svg" alt="address">
                        <span data-key="address">175 Nguyen Thai Hoc street, Ba Dinh district, Hanoi</span>
                    </div>
                </div>
                <div class="keppel">
                    <span data-key="managed_by">Managed by</span>
                    <img class="logo-keppel" src="{{site}}/static/img/footer/keppel-logo.svg" alt="logo keppel">
                </div>
           </div>
        </div>
        <!-- <div class="copy-right">
            <span>Copyright©keppel 2024.All rights reserved</span>
        </div> -->
    </footer>
{{end}}