{{define "header"}}
<header>
    <!-- Header - Top -->
    <div class="header-bot" id="navbar">
        <div class="container mainbar">
            <div class="btn-menu-mobile">
                <img src="{{site}}/static/img/menu/list-icon.png" alt="list icon">
            </div>
            <div class="mainbar__left">
                <div class="header__info">
                    <div class="logo">
                        <a href="#">
                            <img src="{{site}}/static/img/menu/logo-hanoi-centre.png" alt="hanoi centre">
                        </a>
                    </div>
                </div>
                <div class="header__info">
                    <div class="category-menu__wrapper">
                        <div class="category__activation">
                            <div class="category-icon">
                                <i class=" ri-function-line"></i>
                            </div>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navigation">
                <nav class="mainmenu-nav">
                    <ul class="mainmenu">
                        <li class="menu-child-item">
                            <a href="/">
                                HOMEPAGE
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="/highlight">
                                HIGHLIGHT
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="/gallery">
                                GALLERY
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="#">
                                WHAT'S HOT
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="#">
                                CONTACT US
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <div class="search">
                    <img src="{{site}}/static/img/menu/search-icon.png" alt="">
                </div>
                <div class="lag">
                    <div class="swap-lag">
                        <img src="{{site}}/static/img/menu/world.png" alt="world">
                        <span class="english">ENG</span>
                        <img class="arrow-icon" src="{{site}}/static/img/menu/arrow-icon.png" alt="arrow">
                    </div>
                    <ul class="sub-menu-lag">
                        <li class="lag">
                            <img src="{{site}}/static/img/menu/flag-vietnam.png" alt="">
                            <div class="swap-lag">
                                <span>VIỆT NAM</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Mobile Menu -->
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content-mobile">
                <div class="logo">
                    <img src="{{site}}/static/img/menu/logo-hanoi-centre.png" alt="hanoi centre">
                </div>
                <div class="close-btn">
                   <img src="{{site}}/static/img/menu/close-btn.svg" alt="close button">
                </div>
            </div>
            <div class="search-mobile">
                <form class="form-letter" action="#">
                    <input type="email" placeholder="Search">
                    <div class="search-icon">
                        <img src="{{site}}/static/img/menu/search-icon.png" alt="search">
                    </div>
                </form>
            </div>
            <!-- <ul class="contact">
                <li>
                    <i class=" ri-mail-line"></i>
                    <span>hello@brancherx.com</span>
                </li>
                <li>
                    <i class="ri-phone-line"></i>
                    <span>(+84) 287 303 0568</span>
                </li>
            </ul> -->
        </div>
        <div class="mainmenu-nav">
            <li class="accordion">
                <a href="/" class="mobile mobile-menu1">
                    <span>HOMEPAGE</span>
                    <!-- <div class="close-btn"></div> -->
                </a>
            <li class="accordion">
                <a href="/about-us" class="mobile mobile-menu1">
                    <span>HIGHLIGHT</span>
                    <!-- <div class="close-btn"></div> -->
                </a>
            </li>
            <li class="accordion">
                <div class="mobile mobile-menu1">
                    <a href="/what-we-do/" class="title-menu"><span>GALLERY</span></a>
                    <!-- <div class="close-btn"></div> -->
                </div>
                <!-- <ul class="panel child-menu">
                    <li><a href="/media/">HOMEPAGE</a></li>
                    <li><a href="/creative/">HIGHLIGHT</a></li>
                    <li><a href="/social/">GALLERY</a></li>
                    <li><a href="/kol-management/">WHAT'S HOT</a></li>
                    <li><a href="/public-relation/">CONTACT US</a></li>
                </ul> -->
            </li>
            <li class="accordion">
                <a href="case-studies" class="mobile mobile-menu1">
                    <span>WHAT'S HOT</span>
                    <!-- <div class="close-btn"></div> -->
                </a>
            </li>
            <li class="accordion">
                <a href="/contact-us" class="mobile mobile-menu1">
                    <span>CONTACT US</span>
                    <!-- <div class="close-btn"></div> -->
                </a>
            </li>
        </div>
        <div class="mobile_menu__bottom">
            <div class="change-language">
                <span>ENG</span>
                <span>VIE</span>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>
{{end}}