{{define "header"}}
<header>
    <!-- Header - Top -->
    <div class="header-bot" id="navbar">
        <div class="container mainbar">
            <div class="btn-menu-mobile">
                <img src="{{site}}/static/img/menu/list-icon.png" alt="list icon">
            </div>
            <div class="mainbar__left">
                <div class="header__info">
                    <div class="logo">
                        <a href="/">
                            <img src="{{site}}/static/img/menu/logo-hanoi-centre.png" alt="hanoi centre">
                        </a>
                    </div>
                </div>
                <div class="header__info">
                    <div class="category-menu__wrapper">
                        <div class="category__activation">
                            <div class="category-icon">
                                <i class=" ri-function-line"></i>
                            </div>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navigation">
                <nav class="mainmenu-nav">
                    <ul class="mainmenu">
                        <li class="menu-child-item">
                            <a href="/">
                                HOMEPAGE
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="/highlight">
                                HIGHLIGHT
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="/gallery">
                                GALLERY
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <li class="menu-child-item">
                            <a href="/whats-hot">
                                WHAT'S HOT
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li>
                        <!-- <li class="menu-child-item">
                            <a href="#footer">
                                CONTACT US
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <div class="search-box">
                    <input type="text" class="search-box-input" placeholder="Search">
                    <button class="search-box-btn">
                        <img src="{{site}}/static/img/menu/search-icon.png" alt="search icon">
                    </button>
                </div>
                <div class="lag">
                    <div class="swap-lag">
                        <img src="{{site}}/static/img/menu/flag-us.png" alt="world">
                        <!-- <span class="english">ENG</span> -->
                        <img class="arrow-icon" src="{{site}}/static/img/menu/arrow-icon.png" alt="arrow">
                    </div>
                    <ul class="sub-menu-lag">
                        <li class="lag">
                            <img src="{{site}}/static/img/menu/flag-vietnam.png" alt="">
                            <div class="swap-lag">
                                <!-- <span>VIE</span> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


{{end}}