<section class="about-us__ourshoppers container">
    <div class="bg-mode">
    </div>
    <div class="our-shoppers">
        <h1 class="our-shoppers__title">Our Shoppers</h1>
        <p class="our-shoppers__description">
            Hanoi Centre's diverse and innovative retail offerings is set to capitalize on the fast-increasing demand and spending power of Hanoians, the capital's residents of Asia Pacific's most rapidly growing economy. The Shopping Mall's prime location ensures a ready catchment of:
        </p>
        <ul class="our-shoppers__district-list">
            <li class="our-shoppers__district-item">
                <div class="our-shoppers__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span><b>Young families, residents and office workers </b>in Ba Dinh, Hoan Kiem and Dong Da districts.</span>
                </div>
            </li>
            <li class="our-shoppers__district-item">
                <div class="our-shoppers__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span><b>International and domestic tourists</b> seeking cultural experiences and culinary delights.</span>
                </div>
            </li>
            <li class="our-shoppers__district-item">
                <div class="our-shoppers__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span><b>Trend-setters, followers and green lifestyle enthusiasts</b> looking for great deals, social gathering, exploring new venues, experiences and Instagrammable moments.</span>
                </div>
            </li>
        </ul>
    </div>
</section>