.about-us__hanoicentre{
    width: 100%;
    height: 100%;
    /* padding-top: 8em; */
    background-color: var(--white);
    padding-left: 0;
    padding-right: 0;
    z-index: 20;
    position: relative;
}
.about-us__hanoicentre .bg-mode {
    width: 100%;
    height: 100%;
    /* background: url('../img/about-us/hanoicentre/triangle-top-left.svg') left top no-repeat, url('../img/about-us/hanoicentre/triangle-bottom-left.svg') left bottom no-repeat, url('../img/about-us/hanoicentre/bg-hanoicentre.webp') left top no-repeat;
    background-size: 22.1em, 45.1em, 260em; */
    background-image: url(../img/about-us/hanoicentre/background.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0.7em;
}
.hanoi-centre {
    display: block;
    width: 33%;
    transform: translate(15%, -50%);
    top: 50%;
    position: absolute;
    right: 0;
    left: 50%;
    font-size: 1em;
}
.hanoi-centre__title {
    display: block;
    font-family: 'SVN-WylieVoigen';
    font-size: 8em;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0.7em 0 0 0.6em;;
    margin-bottom: 0.5em;
    /* overflow: hidden; */
    position: relative;
    white-space: nowrap;
}
.hanoi-centre__title.title-translate {
    display: none;
}
.hanoi-centre__title::after {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-left: 0.5em solid var(--primary);
    border-bottom: 0.5em solid transparent;
    transform: rotate(225deg);
    top: 0;
    left: 0;
    content: '';
}
.hanoi-centre__description {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: justify;
}
.hanoi-centre__district-list {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.hanoi-centre__district-item {
    display: flex;
    flex-direction: column;
}
.hanoi-centre__district-name{
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
}
.hanoi-centre__district-name span {
    font-size: 2.4em;
    margin-left: 0.5em;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: justify;
}
.hanoi-centre__district-detail {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: justify;
    padding-left: 1.5em;
}

/* Reponsive ABOUT-US HANOI CENTRE */
/* Reponsive Iphone SE */
@media (min-width: 319px) and (max-width: 360px) {
    .about-us__hanoicentre .hanoi-centre {
        display: block;
        width: 90%;
        transform: translate(-50%, 50%);
        top: auto;
        right: auto;
        font-size: 0.6rem;
        margin: 0 auto;
        left: 50%;
        /* background: #ffffff96; */
        padding: 2em;
        border-radius: 0px;
        text-shadow: 3px 3px 2px white;
        bottom: 40%;
    }
    .hanoi-centre .hanoi-centre__title {
        margin-bottom: 0.2em;
        white-space: normal;
    }
    .hanoi-centre__district-name img {
        width: 2em;
    }
    .hanoi-centre__district-list {
        gap: 1.5em !important;
    }
    
    .swiper-slide .about-us__hanoicentre .bg-mode {
        width: 100%;
        height: 100%;
        background: url(../img/about-us/hanoicentre/triangle-top-left.svg) left top no-repeat, url(../img/about-us/hanoicentre/triangle-bottom-left.svg) left bottom no-repeat, url('../img/about-us/hanoicentre/bg-hanoicentre-mobile.webp') left top no-repeat;
        background-size: 15.1em, 35.1em, 250px;
        font-size: 0.4em;
    }
}
@media (min-width: 361px) and (max-width: 390px) {
    .about-us__hanoicentre .bg-mode {
        width: 100%;
        height: 100%;
        background: url('../img/about-us/hanoicentre/triangle-top-left.svg') left top no-repeat, url('../img/about-us/hanoicentre/triangle-bottom-left.svg') left bottom no-repeat, url('../img/about-us/hanoicentre/bg-hanoicentre-mobile.webp') left top no-repeat;
        background-size: 22.1em, 45.1em, 375px;
        font-size: 0.7em;
    }
    .about-us__hanoicentre .bg-mode {
        font-size: 0.3em;
    }
    .hanoi-centre {
        display: block;
        width: 95%;
        transform: translate(-50%, 50%);
        top: auto;
        right: auto;
        font-size: 0.7rem;
        margin: 0 auto;
        left: 50%;
        /* background: #ffffff96; */
        padding: 2em;
        border-radius: 0px;
        text-shadow: 3px 3px 2px white;
        bottom: 35%;
    }
    .hanoi-centre__title {
        margin-bottom: 0;
        white-space: normal;
    }
    .hanoi-centre__district-detail {
        padding-left: 2em;
    }
    .hanoi-centre__title {
        display: none;
    }
    .hanoi-centre__title.title-translate {
        display: block;
    }
    .hanoi-centre__district-list {
        gap: 1em;
    }
}
@media (min-width: 391px) and (max-width: 575px){
    .about-us__hanoicentre .bg-mode {
        width: 100%;
        height: 100%;
        background: url('../img/about-us/hanoicentre/triangle-top-left.svg') left top no-repeat, url('../img/about-us/hanoicentre/triangle-bottom-left.svg') left bottom no-repeat, url('../img/about-us/hanoicentre/bg-hanoicentre-mobile.webp') left top no-repeat;
        background-size: 22.1em, 45.1em, 425px;
        font-size: 0.7em;
    }
    .about-us__hanoicentre .bg-mode {
        font-size: 0.4em;
    }
    .hanoi-centre {
        display: block;
        width: 95%;
        transform: translate(-50%, 50%);
        top: auto;
        right: auto;
        font-size: 0.8rem;
        margin: 0 auto;
        left: 50%;
        /* background: #ffffff96; */
        padding: 2em;
        border-radius: 0px;
        text-shadow: 3px 3px 2px white;
        bottom: 35%;
    }
    .hanoi-centre__title {
        margin-bottom: 0.2em;
        white-space: normal;
    }
    .hanoi-centre__district-detail {
        padding-left: 2em;
    }
    .hanoi-centre__title {
        display: none;
    }
    .hanoi-centre__title.title-translate {
        display: block;
    }
    .hanoi-centre__district-list {
        gap: 1.5em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .about-us__hanoicentre .bg-mode {
        width: 100%;
        height: 100%;
        background: url('../img/about-us/hanoicentre/triangle-top-left.svg') left top no-repeat, url('../img/about-us/hanoicentre/triangle-bottom-left.svg') left bottom no-repeat, url('../img/about-us/hanoicentre/bg-hanoicentre.webp') left top no-repeat;
        background-size: 22.1em, 45.1em, 550px;
        font-size: 0.7em;
    }
    .about-us__hanoicentre .bg-mode {
        font-size: 0.7em;
    }
    .hanoi-centre {
        display: block;
        width: 60%;
        transform: translate(-75%, -140%);
        top: auto;
        right: auto;
        left: 72%;
        font-size: 0.85rem;
        background: #ffffff96;
        padding: 2em;
        border-radius: 0px;
        text-shadow: 3px 3px 2px white;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px){
    .about-us__hanoicentre .bg-mode {
        width: 100%;
        height: 100%;
        background: url('../img/about-us/hanoicentre/triangle-top-left.svg') left top no-repeat, url('../img/about-us/hanoicentre/triangle-bottom-left.svg') left bottom no-repeat, url('../img/about-us/hanoicentre/bg-hanoicentre.webp') left top no-repeat;
        background-size: 22.1em, 45.1em, 768px;
        font-size: 0.7em;
    }
    .about-us__hanoicentre .bg-mode {
        font-size: 0.7em;
    }
    .hanoi-centre {
        display: block;
        width: 60%;
        transform: translate(-75%, -140%);
        top: auto;
        right: auto;
        left: 72%;
        font-size: 0.95rem;
        background: #ffffff96;
        padding: 2em;
        border-radius: 0px;
        text-shadow: 3px 3px 2px white;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .about-us__hanoicentre .bg-mode {
        font-size: 0.6rem;
    }
    .hanoi-centre {
        font-size: 0.75rem;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .about-us__hanoicentre .bg-mode {
        font-size: 0.65rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    .about-us__hanoicentre .bg-mode {
        font-size: 0.7rem;
    }
}