.about-us {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/about-us/bg-about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 2em 0 5em; */
    overflow: hidden;
}
.container-shape{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.popup-about-us {
    width: 100%;
    height: 100%;
    /* padding-top: 8em; */
    background-color: var(--white);
    padding-left: 0;
    padding-right: 0;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.about-us-swiper {
    position: relative;
    width: 100%;
    height: 100%;
}
.about-us .close-btn {
    position: absolute;
    font-size: 3em;
    top: 3em;
    right: 3em;
    z-index: 99;
    cursor: pointer;
}
.triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9em solid transparent;
    border-left: 9em solid var(--primary);
    border-bottom: 9em solid transparent;
    transform: rotate(135deg);
}
.shape-1 {
    right: 23%;
    top: 62%;
}
.triangle-right.shape-2{
    border-left-color: var(--secondary);
    transform: rotate(257deg);
    top: 0%;
}
.triangle-right.shape-3{
    border-left-color: var(--third);
    transform: rotate(60deg);
    left: 33%;
    bottom: 36%;
}
.group-shape{
    width: fit-content;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hide Swiper controls by default */
.swiper-pagination-au,
.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.triangle {
    position: relative;
    width: 60em;
    aspect-ratio: 1;
    background-image: url(../img/about-us/hanoicentre.png);
    background-position: bottom;
    background-position-x: -26em;
    clip-path: polygon(0% 0%, 80% 25%, 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.triangle-before{
    position: absolute;
    width: 60em;
    aspect-ratio: 1;
    background: #DB0C53;
    clip-path: polygon(0% 0%, 80% 25%, 50% 100%);
    z-index: 1;
    left: -3em;
    top: 0;
}
.triangle::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 20%;
    background: #DB0C53;
    z-index: 3;
}

.triangle span{
    font-family: 'SVN-WylieVoigen';
    font-weight: 400;
    text-align: center;
    font-size: 6.4em;
    line-height: 1;
    top: -0.6em;
    position: relative;
    color: var(--white);
    z-index: 4;
    text-shadow: 0px 4px 4px #00000040;
}
.group-shape-1 {
    transform: translate(10%, 30%);
}
.group-shape-2 {
    left: 50%;
    transform: translate(-50%, -38%);
}
.group-shape-3 {
    position: absolute;
    right: -3em;
    top: 5%;
}
.group-shape-2 .triangle{
    width: 67.5em;
    aspect-ratio: 675 / 437;
    background-image: url(../img/about-us/ourshoppers.png);  
    background-position: center;
    background-size: cover;
    clip-path:polygon(0% 47%, 67% 0%, 100% 100%);
}
.group-shape-2 span{
    top: -0.5em;
    left: 0.5em;
}
.group-shape-2 .triangle::before {
    content: "";
    position: absolute;
    opacity: 40%;
    background: var(--secondary);
}
.group-shape-2 .triangle-before{
    width: 67.5em;
    aspect-ratio: 675 / 437;
    position: absolute;
    background: var(--secondary);
    clip-path: polygon(0% 47%, 67% 0%, 100% 100%);
    z-index: 1;
    left: auto;
    top: 3em;
}

.group-shape-3 .triangle{
    background-image: url(../img/about-us/complex.png);  
    background-position: 72% 50%;
    clip-path: polygon(0% 75%, 25% 0%, 80% 100%);
}
.group-shape-3 span{
    top: 0.9em;
    left: -1.8em;
}
.group-shape-3 .triangle::before {
    content: "";
    position: absolute;
    opacity: 30%;
    background: var(--third);
}
.group-shape-3 .triangle-before{
    position: absolute;
    background: var(--third);
    clip-path: polygon(0% 75%, 25% 0%, 80% 100%);
    z-index: 1;
    left: 3em;
}
.container-mini-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
.about-us__text h2 {
    font-family: 'SVN-WylieVoigen';
    font-size: 14.8em;
    font-weight: 400;
    line-height: 1.1;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.about-us__text p {
    width: 60%;
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.popup-about-us .swiper-button-prev-2,.popup-about-us .swiper-button-next-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    top: auto;
}
.swiper-button-prev-2:after, .swiper-rtl .swiper-button-next-2:after {
    content: 'prev';
}
.swiper-button-next-2:after, .swiper-button-prev-2:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-next-2:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
}
.swiper-button-next-2:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.popup-about-us .swiper-button-prev-2{
    left: 47%;
    position: absolute;
    z-index: 1;
    bottom: 2%;
    cursor: pointer;
    background: var(--white);
}
.popup-about-us .swiper-button-next-2{
    right: 47%;
    position: absolute;
    z-index: 1;
    bottom: 2%;
    cursor: pointer;
    background: var(--white);
}
.popup-about-us .swiper-horizontal>.swiper-pagination-bullets, 
.popup-about-us .swiper-pagination-bullets.swiper-pagination-horizontal, 
.popup-about-us .swiper-pagination-custom, .swiper-pagination-fraction{
    position: relative;
    top: 1em;
}
.popup-about-us .swiper-button-prev-2:after, .swiper-rtl .swiper-button-next:after,
.popup-about-us .swiper-button-next-2:after, .swiper-rtl .swiper-button-prev-2:after {
    font-size: 10px;
    padding: 8px;
    border: 2px solid;
    font-weight: 800;
    border-radius: 50%;
    color: #292D32;
}

@media (max-width: 575px){
    .about-us{
        height: 100%;
        padding: 10em 0 5em;
    }
    .container-shape {
        display: block;
        overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next  {
        display: block;
    }
    .swiper-pagination-au {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .group-shape {
        width: 100%;
    }
    /* Adjust the group-shape for responsiveness */
    .group-shape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: none;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }
    .about-us__text {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        font-size: 0.68em;
    }
    .about-us__text p{
        width: 90%;
    }

    .about-us .swiper-wrapper {
        padding: 2em 0;
    }
    .group-shape-1,
    .group-shape-3{
        left: 15%;
    }
    .group-shape-2{
        top: 6em;
    }
    .group-shape-1 .triangle,
    .group-shape-3 .triangle{
        width: 45em;
    }
    .group-shape-1 .triangle-before,
    .group-shape-3 .triangle-before{
        width: 45em;
    }
    .group-shape-2 .triangle{
        width: 47.5em;
    }
    .group-shape-2 .triangle-before{
        width: 47.5em;
    }
    .triangle-before{
        left: -2em;
    }
    .group-shape-3 .triangle-before{
        left: 5em;
    }
    .triangle span{
        font-size: 5em;
    }
    .triangle-right.shape-3{
        transform: rotate(-55deg);
        left: 13%;
        bottom: 5%;
    }
    .triangle-right.shape-2 {
        top: -4%;
    }
    .triangle-right.shape-1 {
        right: 7%;
        top: 28%;
        transform: rotate(200deg);
    }
    .triangle-right{
        font-size: 0.85em;
    }
    .about-us .swiper-button-prev,.about-us .swiper-button-next{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45%;
        top: auto;
    }
    .about-us .swiper-button-prev{
        left: 33%;
    }
    .about-us .swiper-button-next{
        right: 33%;
    }
    .about-us .swiper-horizontal>.swiper-pagination-bullets, 
    .about-us .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .about-us .swiper-pagination-custom, .swiper-pagination-fraction{
        position: relative;
        top: 1em;
    }
    .about-us .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
    .about-us .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        font-size: 10px;
        padding: 8px;
        border: 2px solid;
        font-weight: 800;
        border-radius: 50%;
        color: #292D32;
    }
    /* Custom bullet styles */
    .about-us .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background: #D9D9D9; /* Default color */
        opacity: 1; /* Ensure visibility */
        margin: 0 5px;
    }
    
    .about-us .swiper-pagination-bullet.active-color-1 {
        width: 13px;
        height: 13px;
        background: var(--primary); /* Color for slide 1 */
    }
    
    .about-us .swiper-pagination-bullet.active-color-2 {
        width: 13px;
        height: 13px;
        background: var(--secondary); /* Color for slide 2 */
    }
    
    .about-us .swiper-pagination-bullet.active-color-3 {
        width: 13px;
        height: 13px;
        background: var(--third); /* Color for slide 3 */
    }
    .popup-about-us .swiper-button-next-2 {
        right: 35%;
    }
    .popup-about-us .swiper-button-prev-2 {
        left: 35%;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .about-us {
        font-size: 0.67em;
    }
    .group-shape-2 {
        left: 50%;
        transform: translate(-50%, 75%);
    }
    .about-us__text {
        font-size: 1em;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .popup-about-us .swiper-button-next-2 {
        right: 40%;
    }
    .popup-about-us .swiper-button-prev-2 {
        left: 40%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px){
    .about-us {
        font-size: 0.6em;
    }
    .group-shape-2 {
        left: 50%;
        transform: translate(-50%, -7%);
    }    
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .about-us {
        font-size: 0.65em;
    }
    .group-shape-2 {
        left: 50%;
        transform: translate(-50%, 6%);
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .about-us {
        font-size: 0.7em;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px){
    .about-us {
        font-size: 0.75em;
    }
    .group-shape-2 {
        left: 50%;
        transform: translate(-50%, 5%);
    }    
}