.news-section {
    width: 100%;
    height: 100svh;
    background-color: var(--third);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.news-section__bg {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(51% 0, 100% 0, 100% 100%, -9% 100%);
    background: url(../img/whats-hot/triangle-right-top.svg) right top no-repeat, var(--white) left bottom no-repeat;
    background-size: 29em, cover;
}
.group-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
}
.news__title {
    font-family: SVN-Wylie Voigen;
    font-size: 10em;
    font-weight: 400;
    line-height: 1;
    color: var(--white);
    margin-bottom: 0.5em;
}
.hot-news {
    display: flex;
    justify-content: space-between;
    gap: 10em;
}
.hot-news__image {
    flex: 5;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.hot-news__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hot-news__disc {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 5em;
}
.hot-news__title {
    font-size: 3.6em;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 0.3em;
}
.hot-news__content {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: justify;
}
.short-and-fixed{
    display: inline-block;
}
.hot-news__source {
    font-size: 1.6em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.news-swiper-container {
    border-radius: 10px;
    overflow: hidden;
}
.news-swiper-container .hot-news {
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
}
.hot-news__image img{
    transition: 0.3s linear;
}
.hot-news:hover .hot-news__image img{
    transform: scale(1.1);
}
.news-swiper-container .hot-news__disc{
    margin-left: 0;
}
.hot-news__title sup{
    font-size: 0.5em;
}
.short-and-fixed {
    font-size: 2em;
    line-height: 1.4;
    letter-spacing: -0.02em;
}
.news-swiper-container .hot-news__title{
    width: 100%;
    font-size: 2.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.news-swiper-container .hot-news__content {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

/* Navigation Buttons */
.news-section .news-swiper-button-prev,
.news-section .news-swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: auto;
    cursor: pointer;
    width: 4em;
    height: 4em;
    filter: brightness(0) saturate(100%) invert(12%) sepia(15%) saturate(509%) hue-rotate(173deg) brightness(97%) contrast(87%);
}
.news-section .news-swiper-button-prev img {
    transform: rotate(180deg);
}
.news-section .news-swiper-button-prev img,
.news-section .news-swiper-button-next img{
    width: 7.6em;
}

.news-section .news-swiper-button-prev {
    left: -6em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.news-section .news-swiper-button-next {
    right: -6em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.news-list {
    width: 100%;
    position: relative;
}
@media (max-width: 575px){
    .news-section{
        height: 100%;
        font-size: 0.85em;
        padding: 10em 0;
    }
    .news-section__bg {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, -130% 100%);
        background: var(--white);
        background-size: 29em, cover;
    }
    .news__title {
        font-family: 'SVN-WylieVoigen';
        font-size: 7em;
        margin-left: 0.7em;
    }
    .hot-news {
        gap: 2em;
        flex-direction: column;
    }
    .news__title {
        margin-bottom: 0.2em;
    }
    .group-news {
        margin: 0 5em;
    }
    .hot-news__disc {
        margin-left: 0;
    }
    .hot-news__title {
        font-size: 2.4em;
    }
    .news-section .news-swiper-button-next {
        right: -5em;
    }
    .news-section .news-swiper-button-prev {
        left: -5em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .news-section{
        font-size: 0.55em;
    }
    .hot-news {
        gap: 2em;
    }
    .news__title {
        margin-bottom: 0.2em;
        margin-left: 0.5em;
    }
    .group-news {
        margin: 0 5em;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px){
    .news-section{
        font-size: 0.55em;
    }
    .hot-news {
        gap: 2em;
    }
    .news__title {
        margin-bottom: 0.2em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .news-section{
        font-size: 0.6em;
    }
    .hot-news {
        gap: 2em;
    }
    .news__title {
        margin-bottom: 0.2em;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .news-section{
        height: 100svh;
        font-size: 0.55em;
    }
    .hot-news {
        gap: 1em;
    }
    .news__title {
        margin-bottom: 0.2em;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    .news-section{
        height: 100svh;
        font-size: 0.6em;
    }
    .hot-news {
        gap: 1em;
    }
    .news__title {
        margin-bottom: 0.2em;
    }
}