.fp-overflow {
    position: relative;
}
.popup-news {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    background: #ffffff;
}
.popup-news.active {
    display: flex;
  }
.popup-news .container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup-news__bg {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/whats-hot/triangle-right-top.svg) right top no-repeat, url(../img/whats-hot/popup-news-bg.png) left top no-repeat;
    background-size: 20em, cover;
}
.popup-news__group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup-news__disc {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5em;
}
.popup-news__group .title-news{
    display: block;
    font-family: 'SVN-WylieVoigen';
    font-size: 8em;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0.7em 0.5em 0.5em 0.6em;
    overflow: hidden;
    position: relative;
}
.title-news::after{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-left: 0.5em solid var(--primary);
    border-bottom: 0.5em solid transparent;
    transform: rotate(225deg);
    top: 0;
    left: 0;
    content: '';
}
.popup-news__image {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.popup-news__image::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2%;
    background-color: var(--primary);
    z-index: 10;
}
.news-3 .popup-news__image::before{
    background-color: var(--third);
}
.news-1 .popup-news__image::before{
    background-color: var(--four);
}
.news-4 .popup-news__image::before{
    background-color: var(--secondary);
}
.popup-news__content {
    flex: 1;
    font-size: 3.2em;
    font-weight: 400;
    line-height: 2;
    letter-spacing: -0.02em;
    text-align: justify;
}

.popup-news .swiper {
    width: 100%;
    height: 100%;
}

.popup-news .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-news .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-news .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.popup-news .swiper-slide {
    background-size: cover;
    background-position: center;
}

.popup-news .mySwiper2-popup-news {
    height: fit-content;
    width: 100%;
}

.popup-news .mySwiper-popup-news {
    height: fit-content;
    box-sizing: border-box;
}

.popup-news .mySwiper-popup-news .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    justify-content: flex-start;
}

.popup-news .mySwiper-popup-news .swiper-slide-thumb-active {
    opacity: 1;
}

.popup-news .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumb-news {
    display: flex;
    flex-direction: column;
}
.thumb-news__title {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-top: 0.5em;
}
.whatshot-tag {
    width: fit-content;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.1;
    color: var(--natural-100);
    margin: unset;
    left: 25%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 0.2em;
}
.whatshot-tag::before {
    content: '';
    display: block;
    width: 4em;
    height: 5px;
    background-color: #422667;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 0.5em;
}
.close-btn-popup-news {
    position: absolute;
    top: 95px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}
.close-btn-popup-news img {
    width: 7em;
    aspect-ratio: 1;
}
.group-thumb {
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 0;
    width: 40%;
    margin: unset;
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    position: relative;
    list-style: none;
    z-index: 1;
}

/* Navigation Buttons */
.group-thumb .swiper-button-prev-popup-news,
.group-thumb .swiper-button-next-popup-news {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: auto;
    cursor: pointer;
    width: 4em;
    height: 4em;
    filter: brightness(0) saturate(100%) invert(12%) sepia(15%) saturate(509%) hue-rotate(173deg) brightness(97%) contrast(87%);
}
.group-thumb .swiper-button-prev-popup-news img {
    transform: rotate(180deg);
}
.group-thumb .swiper-button-prev-popup-news img,
.group-thumb .swiper-button-next-popup-news img{
    width: 7.6em;
}

.group-thumb .swiper-button-prev-popup-news {
    left: -6em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.group-thumb .swiper-button-next-popup-news {
    right: -6em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.news-4 .title-news::after {
    border-left-color: var(--secondary);
}
.news-1 .title-news::after {
    border-left-color: var(--four);
}
.news-3 .title-news::after {
    border-left-color: var(--third);
}

@media (max-width: 575px){
    .popup-news {
        font-size: 0.5rem;;
    }
    .popup-news__disc {
        flex-direction: column;
    }
    .group-thumb {
        padding: 10px 0;
        width: 100%;
        margin: unset;
        left: auto;
        transform: none;
    }
    .whatshot-tag {
        font-size: 3.8em;
        left: 50%;
    }
    .close-btn-popup-news {
        top: 125px;
        right: 20px;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .popup-news {
        font-size: 0.5rem;;
    }
    .popup-news__disc {
        flex-direction: column;
    }
    .group-thumb {
        padding: 10px 0;
        width: 100%;
        margin: unset;
        left: auto;
        transform: none;
    }
    .whatshot-tag {
        font-size: 3.8em;
        left: 50%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px){
    .popup-news {
        font-size: 0.5rem;;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .popup-news {
        font-size: 0.5rem;;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .popup-news {
        font-size: 0.5rem;;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    .popup-news {
        font-size: 0.7rem;;
    }
    .popup-news .container {
        max-width: 1350px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .popup-news__group .title-news {
        font-size: 7em;
    }
}