{{ define "parallax-section"}}
<!-- <div class="parallax-container"> -->
    <div class="section">
        <div class="parallax parallax--variant-1">
            <div class="parallax__border parallax__border--variant-1">
                <div class="parallax__content">
                    <div class="parallax__disc">
                        <h2 class="parallax__title">
                            The Centre of Hanoi
                        </h2>
                        <p>Located in the central region of Hanoi, with access to well-connected transportation networks and a concentration of office workers, tourists, and business travelers, Hanoi Centre welcomes a ready and easy-to-reach catchment of shoppers.
                            <br><br>
                            Amidst the towering skyscrapers, at the heart of Hanoi Centre, stands a majestic banyan tree—a symbol of resilience and community in the bustling capital. This is the true centre of Hanoi, not only by geographical coordinates but by the shared experiences and connections nurtured beneath the sprawling branches of this ancient tree. It is in the embrace of community and the magic of human connections that the essence of Hanoi truly resides.
                            <br><br>
                            Join us on this captivating journey to a world of excitement and enjoyment at Hanoi Centre.
                        </p>
                    </div>
                    <button class="parallax__triangle" onclick="fullpage_api.moveSectionDown()">
                        <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-down.svg" alt="arrow down">
                        <span>Scroll down</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="parallax parallax--variant-2">
            <div class="parallax__border parallax__border--variant-2">
                <div class="parallax__content">
                    <div class="parallax__disc">
                        <h2 class="parallax__title">
                            Unique architecture
                            <br>
                            and design
                        </h2>
                        <p>The development foreground provides idyllic, and porosity knitted intimately with the city wider fabric.
                            <br><br>
                            The blurring of the boundary between the development and the city provides essential and easy discovery of the new development within the old city - an urban oasis truly.
                            <br><br>
                            The design driving principle is to pay homage to the heritage site celebrating the old-world charm of the old city of Hanoi.
                            <br><br>
                            The mall's unique retail space harmoniously blend nature with shopping, with the vision to honor the city's rich history and cultural heritage by preserving an iconic banyan tree within the mall. This innovative approach was recently crowned <b>"Best Retail Interior Design" at the 10th PropertyGuru Vietnam Property Awards</b>.
                        </p>
                    </div>
                    <button class="parallax__triangle" onclick="fullpage_api.moveSectionDown()">
                        <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-down.svg" alt="arrow down">
                        <span>Scroll down</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="parallax parallax--variant-3">
            <div class="parallax__border parallax__border--variant-1">
                <div class="parallax__content">
                    <div class="parallax__disc">
                        <h2 class="parallax__title">
                            Modernity meets
                            <br>
                            Tradition of Hanoi
                        </h2>
                        <p>
                            Discover a sanctuary where modernity meets tradition, as the majestic banyan tree weaves a tapestry of timeless beauty, making Hanoi Centre an enchanting blend of the past and present. Step into a world where the roots of heritage intertwine with contemporary allure.
                        </p>
                    </div>
                    <button class="parallax__triangle" onclick="fullpage_api.moveSectionDown()">
                        <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-down.svg" alt="arrow down">
                        <span>Scroll down</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="parallax parallax--variant-4">
            <div class="parallax__border parallax__border--variant-2">
                <div class="parallax__content">
                    <div class="parallax__disc">
                        <h2 class="parallax__title">
                            Central Square
                        </h2>
                        <p>
                            A connecting space between the 3 blocks, blending indoor with outdoor activities. The Central Square will have lush green landscaped spaces dotted with clusters of trees providing shade and refreshing green spaces, where activities come alive, and the flavors of Hanoi unfold amidst a captivating atmosphere. 
                            <br><br>
                            In addition, this space is envisioned to be activated as an extension of the indoor space, likely to host a variety of community events or gatherings such as thematic fairs, exhibitions, forums, activity centers, etc.
                        </p>
                    </div>
                    <button class="parallax__triangle" onclick="fullpage_api.moveTo(1)()">
                        <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-up.svg" alt="arrow up">
                        <span>Scroll up</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
{{end}}