{{ define "gallery_choose_us"}}
<section class="gallery__choose-us">
    <div class="container">
        <div class="choose-us__inner">
            <div class="choose-us__title">
                <h2>Why choose us</h2>
                <p>What fantastic partners said about us:</p>
            </div>
            <div class="list-card">
                <div class="list-card__card card-1">
                    <div class="card__disc">
                        <p>
                            We are thrilled to bring Chanel to Hanoi Centre. The dedication to creating a sophisticated and elegant shopping environment mirrors Chanel's own commitment to excellence. With Keppel's track-records with Saigon Centre and Estella Place, combined with Hanoi Centre's ideal location, we look to offer our valued customers a unique and exquisite experience.
                        </p>
                    </div>
                    <div class="card__rating">
                        <div class="card__brand">
                            <div class="brand-logo">
                                <img src="{{site}}/static/img/gallery/logo/logo-chanel.png" alt="logo chanel">
                            </div>
                            <span>Chanel Vietnam</span>
                        </div>
                        <div class="card__star">
                            <div class="star-group">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                            </div>
                            <div class="rating">5.0</div>
                        </div>
                    </div>
                </div>
                <div class="list-card__card card-2">
                    <div class="card__disc">
                        <p>
                            For Galaxy Cinema's next flagship and our very first in Hanoi, Hanoi Centre's unmatched strategic location at the heart of the city's vibrant cultural hub and bustling business districts makes it the perfect spot. We are confident this will be a landmark moment for Galaxy, as we expand our presence in the Northern market and win the hearts of film lovers here.
                        </p>
                    </div>
                    <div class="card__rating">
                        <div class="card__brand">
                            <div class="brand-logo">
                                <img src="{{site}}/static/img/gallery/logo/logo-galaxy.png" alt="logo galaxy">
                            </div>
                            <span>Galaxy Studio</span>
                        </div>
                        <div class="card__star">
                            <div class="star-group">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                            </div>
                            <div class="rating">5.0</div>
                        </div>
                    </div>
                </div>
                <div class="list-card__card card-3">
                    <div class="card__disc">
                        <p>
                            Annam Gourmet has enjoyed our partnership over the years with Keppel, having stores in both Saigon Centre and Estella Place. With outstanding professionalism and a clear vision for success, we trust that this will be a thriving location for Annam Gourmet and a premier destination for our customers.
                        </p>
                    </div>
                    <div class="card__rating">
                        <div class="card__brand">
                            <div class="brand-logo">
                                <img src="{{site}}/static/img/gallery/logo/logo-annam.png" alt="logo annam">
                            </div>
                            <span>Annam Gourmet</span>
                        </div>
                        <div class="card__star">
                            <div class="star-group">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                                <img class="star" src="{{site}}/static/img/gallery/star.svg" alt="star rating">
                            </div>
                            <div class="rating">5.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__group-pagination">
                <div class="swiper-pagination-list"></div>
                <div class="swiper-button-prev-list"></div>
                <div class="swiper-button-next-list"></div>
            </div>
            <button class="btn" onclick="goToLastPage()">
                Contact now
                <img src="{{site}}/static/img/gallery/next-icon.svg" alt="next icon">
            </button>
        </div>
    </div>
</section>
{{end}}