{{ define "slide_show_block"}}
<section class="slide-galley-page">
    <div class="swiper mySwiper-block">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="gallery-slide">
                    <div class="gallery-slide__inner">
                        <div class="triangle-bottom">
                            <div class="triangle-bottom__content">
                                <span>The <br> Centre <br> of Hanoi</span>
                                <div class="triangle-bottom__icon">
                                    <img src="{{site}}/static/img/gallery/next-icon.svg" alt="next icon">
                                </div>
                            </div>
                        </div>
                        <div class="triangle-bottom-before"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-slide block-a">
                    <div class="gallery-inner">
                        <div class="triangle-left">
                            <div class="triangle-left__content">
                                <span>Block</span>
                                <span class="block-number">A</span>
                            </div>
                        </div>
                        <div class="gallery-block">
                            <div class="gallery-block__group">
                                <div class="gallery-block__item1">
                                    <div class="gallery-block__top--content">
                                        <div class="block__picture-1">
                                            <picture>
                                                <source srcset="{{site}}/static/img/gallery/block-a/block-a-1-small.webp" media="(max-width: 768px)">
                                                <img src="{{site}}/static/img/gallery/block-a/block-a-1.webp"
                                                alt="green city">
                                            </picture>
                                        </div>
                                        <div class="gallery__group-text">
                                            <span class="gallery__text-large">Premium<br> & Stylish</span>
                                            <span class="gallery__text-small">Grade-A Office</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-block__item2">
                                    <div class="block__picture-2">
                                        <picture>
                                            <source srcset="{{site}}/static/img/gallery/block-a/block-a-2-small.webp" media="(max-width: 768px)">
                                            <img src="{{site}}/static/img/gallery/block-a/block-a-2.webp"
                                            alt="green city">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-block__item3">
                                <div class="block__picture-3">
                                    <picture>
                                        <source srcset="{{site}}/static/img/gallery/block-a/block-a-3-small.webp" media="(max-width: 768px)">
                                        <img src="{{site}}/static/img/gallery/block-a/block-a-3.webp"
                                        alt="green city">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-slide block-b">
                    <div class="gallery-inner">
                        <div class="triangle-left">
                            <div class="triangle-left__content">
                                <span>Block</span>
                                <span class="block-number">B</span>
                            </div>
                        </div>
                        <div class="gallery-block">
                            <div class="gallery-block__group">
                                <div class="gallery-block__item1">
                                    <div class="gallery-block__top--content">
                                        <div class="block__picture-1">
                                            <picture>
                                                <source srcset="{{site}}/static/img/gallery/block-b/block-b-2-small.webp" media="(max-width: 768px)">
                                                <img src="{{site}}/static/img/gallery/block-b/block-b-2.webp"
                                                alt="green city">
                                            </picture>
                                        </div>
                                        <div class="gallery__group-text">
                                            <span class="gallery__text-large">Elegant & <br>Cheerful</span>
                                            <span class="gallery__text-small">Luxury Hotel</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-block__item2">
                                    <div class="block__picture-2">
                                        <picture>
                                            <source srcset="{{site}}/static/img/gallery/block-b/block-b-3-small.webp" media="(max-width: 768px)">
                                            <img src="{{site}}/static/img/gallery/block-b/block-b-3.webp"
                                            alt="green city">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-block__item3">
                                <div class="block__picture-3">
                                    <picture>
                                        <source srcset="{{site}}/static/img/gallery/block-b/block-b-1-small.webp" media="(max-width: 768px)">
                                        <img src="{{site}}/static/img/gallery/block-b/block-b-1.webp"
                                        alt="green city">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-slide block-c">
                    <div class="gallery-inner">
                        <div class="triangle-left">
                            <div class="triangle-left__content">
                                <span>Block</span>
                                <span class="block-number">C</span>
                            </div>
                        </div>
                        <div class="gallery-block">
                            <div class="gallery-block__group">
                                <div class="gallery-block__item1">
                                    <div class="gallery-block__top--content">
                                        <div class="block__picture-1">
                                            <picture>
                                                <source srcset="{{site}}/static/img/gallery/block-c/block-c-1-small.webp" media="(max-width: 575px)">
                                                <img src="{{site}}/static/img/gallery/block-c/block-c-1.webp"
                                                alt="green city">
                                            </picture>
                                        </div>
                                        <div class="gallery__group-text">
                                            <span class="gallery__text-large">Chic & <br>Attractive</span>
                                            <span class="gallery__text-small">Serviced Apartments</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-block__item2">
                                    <div class="block__picture-2">
                                        <picture>
                                            <source srcset="{{site}}/static/img/gallery/block-c/block-c-3-small.webp" media="(max-width: 575px)">
                                            <img src="{{site}}/static/img/gallery/block-c/block-c-2.webp"
                                            alt="green city">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-block__item3">
                                <div class="block__picture-3">
                                    <picture>
                                        <source srcset="{{site}}/static/img/gallery/block-c/block-c-2-small.webp" media="(max-width: 575px)">
                                        <img src="{{site}}/static/img/gallery/block-c/block-c-3.webp"
                                        alt="green city">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-bullet-block">
            <div class="swiper-pagination-au"></div>
            <div class="swiper-button-prev">
                <img src="{{site}}/static/img/home-page/button-arrow.png" alt="arrow">
            </div>
            <div class="swiper-button-next">
                <img src="{{site}}/static/img/home-page/button-arrow.png" alt="arrow">
            </div>
        </div>
    </div>
</section>
{{end}}