{{ define "about_us"}}
<section class="about-us">
    <!-- <div class="container"> -->
        <div class="about-us__text">
            <h2>About Us</h2>
            <p>Situated at 175 Nguyen Thai Hoc, Ba Dinh, Hanoi, near many famous landmarks, diplomatic centers and bustling business areas.</p>
        </div>
        <div class="container-shape">
            <div class="group-shape group-shape-1">
                <div class="triangle">
                    <span>Hanoi<br>Centre</span>
                </div>
                <div class="triangle-before"></div>
            </div>
            <div class="group-shape group-shape-2">
                <div class="triangle">
                    <span>Our<br>Shoppers</span>
                </div>
                <div class="triangle-before"></div>
            </div>
    
            <div class="group-shape group-shape-3">
                <div class="triangle">
                    <span>Complex<br>Factsheet</span>
                </div>
                <div class="triangle-before"></div>
            </div>
        </div>
        <div class="container-mini-shape">
            <div class="triangle-right shape-1"></div>
            <div class="triangle-right shape-2"></div>
            <div class="triangle-right shape-3"></div>
        </div>
    <!-- </div> -->
    <!-- Swiper navigation and pagination -->
    <div class="swiper-pagination-au"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>
{{end}}