{{ define "home_slide_show"}}
<section class="swiper-slide home-page">
    <button class="contact-us-btn btn" onclick="fullpage_api.moveTo(4)" title="Contact us" data-key="contact_us_btn">CONTACT US</button>
    <button class="scroll-btn" onclick="fullpage_api.moveSectionDown()">
        <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-down.svg" alt="arrow down">
    </button>
    <div class="four-corner-border">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-1">
                    <picture>
                        <source srcset="{{site}}/static/img/home-page/mobile-bg-home.webp" media="(max-width: 768px)">
                        <img src="{{site}}/static/img/home-page/bg-home.webp" alt="background home City">
                    </picture>
                    <div class="text-centre">
                        <img class="wow fadeInUp" m-data="text-hanoi-centre" data-wow-duration="2s" src="{{site}}/static/img/home-page/centre-text.png" alt="hanoi centre">
                    </div>
                </div>
                <div class="swiper-slide slide-2">
                    <picture>
                        <source srcset="{{site}}/static/img/home-page/mobile-home-slide-2.jpg" media="(max-width: 991px)">
                        <img src="{{site}}/static/img/home-page/bg-home-2.webp" alt="background home City">
                    </picture>
                    <!-- <img src="{{site}}/static/img/home-page/bg-home-2.png" srcset="{{site}}/static/img/home-page/bg-home-2.png 1920w, 
                                {{site}}/static/img/home-page/mobile-home-slide-2.jpg 300w, 
                                {{site}}/static/img/home-page/mobile-home-slide-2.jpg 768w, 
                                {{site}}/static/img/home-page/bg-home-2.png 1536w, 
                                {{site}}/static/img/home-page/bg-home-2.png 1024w" sizes="(max-width: 1920px) 100vw, 1920px" alt="background home City"> -->
                    <div class="content-homepage">
                        <h2 data-key="content_homepage_title">Welcome to Hanoi Centre</h2>
                        <p data-key="content_homepage">Hanoi Centre shopping mall is located at 175 Nguyen Thai Hoc, Ba Dinh District, Hanoi, a
                            prime area in the heart of the city. The project's prime location not only places it close
                            to Ba Dinh Square but also near famous tourist spots like the Temple of Literature (Văn Miếu
                            Quốc Tử Giám) and West Lake (Hồ Tây).
                            <br><br>
                            As part of the Tien Bo complex project, which includes a shopping mall, a premium hotel,
                            Grade-A office building, and serviced apartments. This combination not only creates a
                            vibrant space but also attracts various customer groups such as office workers, tourists,
                            business travelers, and shoppers. With a large floor area and 5 shopping floors, Hanoi
                            Centre offers a diverse range of goods and services, promising to become an attractive and
                            comprehensive destination for customers.
                            <br><br>
                            Awarded <b>"Best Retail Interior Design" by PropertyGuru in 2024</b>, Hanoi Centre is poised
                            to be a highlight of the capital's vibrant retail landscape by connecting modern design with
                            the unique heritage of Hanoi.
                        </p>
                        <a class="btn" onclick="fullpage_api.moveTo(2)" title="About us">
                            <span class="more-about-us-btn" data-key="more_about_us_btn">More about us</span>
                            <img src="{{site}}/static/img/home-page/button-arrow.png" alt="arrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-swiper-pagination">
                <!-- Default bullet pagination -->
                <div class="swiper-pagination swiper-pagination-bullets"></div>
                <!-- Custom pagination -->
                <div class="swiper-custom-pagination"></div>
            </div>
        </div>
    </div>
</section>
{{end}}