{{ define "news-section"}}
<section class="news-section">
    <div class="news-section__bg"></div>
    <div class="container">
        <div class="news__title">What's Hot</div>
        <div class="group-news">
            <div class="hot-news" data-slide="3">
                <div class="hot-news__image">
                    <img src="{{site}}/static/img/whats-hot/news-1.png" alt="hanoi center">
                </div>
                <div class="hot-news__disc">
                    <h4 class="hot-news__title">
                        Hanoi Centre - A “centre” destination for
                        premium shopping, entertainment, and services</h4>
                    <p class="hot-news__content">
                        With a combination of modern design, green spaces, and diverse amenities, Hanoi Centre will not only meet the needs of the capital's residents but also attract tourists, enriching the shopping and entertainment experience in Hanoi. The project will maximize the potential of the lucrative real estate market in the area while promoting the city's economic and cultural development.
                    </p>
                    <a class="hot-news__source" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                        Source: Dân Trí
                    </a>
                </div>
            </div>
            <div class="news-list">
                <div class="news-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide hot-news" data-slide="0">
                            <div class="hot-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-2.png" alt="hanoi center">
                            </div>
                            <div class="hot-news__disc">
                                <h4 class="hot-news__title">
                                    Annam Gourmet - high-end supermarket with 
                                    approximately 1.000m<sup>2</sup></h4>
                                <p class="hot-news__content">
                                    Annam Gourmet, the premium grocery store specializing in fine food and beverage products from all over the world, is set to open a 1000sqm store in Hanoi Centre. The strategic location, combined with Annam
                                </p>
                                <!-- <a class="short-and-fixed" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                                    <b>Read more</b>
                                </a> -->
                            </div>
                        </div>
                        <div class="swiper-slide hot-news" data-slide="1">
                            <div class="hot-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-3.png" alt="hanoi center">
                            </div>
                            <div class="hot-news__disc">
                                <h4 class="hot-news__title">
                                    Hanoi Centre won “Best Retail Interior Design”</h4>
                                <p class="hot-news__content">
                                    Keppel and its projects were honoured with five awards at the PropertyGuru Vietnam Property Awards (VPA) 2024, including the distinguished Developer of the Decade award. This accolade, presented in conjunction with PropertyGuru VPA's 10th anniversary,...
                                </p>
                                <!-- <a class="short-and-fixed" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                                    <b>Read more</b>
                                </a> -->
                            </div>
                        </div>
                        <div class="swiper-slide hot-news" data-slide="2">
                            <div class="hot-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-4.png" alt="hanoi center">
                            </div>
                            <div class="hot-news__disc">
                                <h4 class="hot-news__title">
                                    Pop Mart's first store in Hanoi</h4>
                                <p class="hot-news__content">
                                    Calling all art toy fans and collectors! POP MART, the global phenomenon in the collectible toy industry, is set to open its official store at Hanoi Centre, the capital's latest shopping destination that beautifully blends modernity and traditions. Known for its vibrant creativity and...
                                </p>
                                <!-- <a class="short-and-fixed" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                                    <b>Read more</b>
                                </a> -->
                            </div>
                        </div>
                        <div class="swiper-slide hot-news" data-slide="0">
                            <div class="hot-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-2.png" alt="hanoi center">
                            </div>
                            <div class="hot-news__disc">
                                <h4 class="hot-news__title">
                                    Annam Gourmet - high-end supermarket with 
                                    approximately 1.000m<sup>2</sup></h4>
                                <p class="hot-news__content">
                                    Annam Gourmet, the premium grocery store specializing in fine food and beverage products from all over the world, is set to open a 1000sqm store in Hanoi Centre. The strategic location, combined with Annam
                                </p>
                                <!-- <a class="short-and-fixed" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                                    <b>Read more</b>
                                </a> -->
                            </div>
                        </div>
                        <div class="swiper-slide hot-news" data-slide="1">
                            <div class="hot-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-3.png" alt="hanoi center">
                            </div>
                            <div class="hot-news__disc">
                                <h4 class="hot-news__title">
                                    Hanoi Centre won “Best Retail Interior Design”</h4>
                                <p class="hot-news__content">
                                    Keppel and its projects were honoured with five awards at the PropertyGuru Vietnam Property Awards (VPA) 2024, including the distinguished Developer of the Decade award. This accolade, presented in conjunction with PropertyGuru VPA's 10th anniversary,...
                                </p>
                                <!-- <a class="short-and-fixed" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                                    <b>Read more</b>
                                </a> -->
                            </div>
                        </div>
                        <div class="swiper-slide hot-news" data-slide="2">
                            <div class="hot-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-4.png" alt="hanoi center">
                            </div>
                            <div class="hot-news__disc">
                                <h4 class="hot-news__title">
                                    Pop Mart's first store in Hanoi</h4>
                                <p class="hot-news__content">
                                    Calling all art toy fans and collectors! POP MART, the global phenomenon in the collectible toy industry, is set to open its official store at Hanoi Centre, the capital's latest shopping destination that beautifully blends modernity and traditions. Known for its vibrant creativity and...
                                </p>
                                <!-- <a class="short-and-fixed" target="_blank" href="https://dantri.com.vn/kinh-doanh/cuoc-dua-xay-dung-trung-tam-thuong-mai-quy-mo-lon-tai-ha-noi-20241114162753019.htm" title="Cuộc đua xây dựng trung tâm thương mại quy mô lớn tại Hà Nội">
                                    <b>Read more</b>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Navigation -->
                <div class="news-swiper-button-next">
                    <img src="{{site}}/static/img/home-page/button-arrow.png" alt="arrow">
                </div>
                <div class="news-swiper-button-prev">
                    <img src="{{site}}/static/img/home-page/button-arrow.png" alt="arrow">
                </div>
            </div>
        </div>
    </div>
    <button class="scroll-up-button" onclick="fullpage_api.moveTo(1)()">
        <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-up.svg" alt="arrow up">
        <span>Scroll up</span>
    </button>
    {{template "popup-news"}}
</section>
{{end}}