{{ define "popup-news"}}
<section class="popup-news">
    <div class="popup-news__bg"></div>
    <div class="container">
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2-popup-news">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="popup-news__group">
                        <h2 class="title-news">Hanoi Centre won “Best Retail<br>Interior Design”</h2>
                        <div class="popup-news__disc">
                            <div class="popup-news__image">
                                <img src="{{site}}/static/img/whats-hot/news-3.png" alt="hanoi center">
                            </div>
                            <p class="popup-news__content">
                                Keppel and its projects were honoured with five awards at the PropertyGuru Vietnam Property Awards (VPA) 2024, including the distinguished Developer of the Decade award. This accolade, presented in conjunction with PropertyGuru VPA's 10th anniversary, celebrates visionary companies that have set the benchmark for excellence in Vietnam's real estate sector over the past ten years. Hanoi Centre, Keppel's upcoming retail development in Hanoi, also won the Best Retail Interior Design award.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                </div>
            </div>
            <div class="swiper-button-next-popup-news"></div>
            <div class="swiper-button-prev-popup-news"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper-popup-news">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}