{{ define "whats-hot_home"}}
<section class="highlight-page">
    <div class="four-corner-border">
        <button class="scroll-btn" onclick="fullpage_api.moveSectionDown()">
            <img src="{{site}}/static/img/highlight-page/parallax-section/arrow-down.svg" alt="arrow down">
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset="{{site}}/static/img/highlight-page/mobile-bg-highlight.webp" media="(max-width: 768px)">
                        <img src="{{site}}/static/img/highlight-page/bg-highlight.webp" alt="background city highlight">
                    </picture>
                    <!-- <div class="contact-us-btn btn">
                        CONTACT US
                    </div> -->
                    <div class="text-centre">
                        <!-- <img src="{{site}}/static/img/highlight-page/centre-text.png" alt=""> -->
                         <h1 class="wow fadeInUp" data-wow-duration="2s" data-key="whats_hot_title">WHAT'’S HOT</h1>
                    </div>
                </div>
            </div>
            <div class="container-swiper-pagination">
                <!-- Default bullet pagination -->
                <div class="swiper-pagination swiper-pagination-bullets"></div>
                <!-- Custom pagination -->
                <div class="swiper-custom-pagination"></div>
            </div>
        </div>
    </div>
</section>
{{end}}