<section class="about-us__complex container">
    <div class="bg-mode">
    </div>
    <div class="complex">
        <h1 class="complex__title">Complex<br> Factsheet</h1>
        <p class="complex__description">
            5-floor Shopping Mall including<br> 3 Basements with large floor area.
        </p>
        <ul class="complex__district-list">
            <span>Part of a complex with</span>
            <li class="complex__district-item">
                <div class="complex__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>Grade-A Office</span>
                </div>
            </li>
            <li class="complex__district-item">
                <div class="complex__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>Serviced Apartments</span>
                </div>
            </li>
            <li class="complex__district-item">
                <div class="complex__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>Luxury Hotel</span>
                </div>
            </li>
        </ul>
        <ul class="complex__district-list">
            <span>Total area</span>
            <li class="complex__district-item">
                <div class="complex__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>Project GFA: 118,000sqm</span>
                </div>
            </li>
            <li class="complex__district-item">
                <div class="complex__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>Retail GFA: 72,000sqm</span>
                </div>
            </li>
            <li class="complex__district-item">
                <div class="complex__district-name">
                    <img src="{{site}}/static/img/about-us/hanoicentre/toggle.svg" alt="toggle">
                    <span>Retail NLA: 42,000sqm</span>
                </div>
            </li>
        </ul>
    </div>
</section>